{% extends "layout.html.twig" %}
{% set page_title = "Manage AFSCs" %}
{% block main %}
    {% include "blocks/admin/cdc/afsc/menu.html.twig" %}
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
{% endblock %}