{% extends "layout.html.twig" %}
{% set page_title = "AFSC Users - #{afsc.name}" %}
{% block main %}
    {% include "blocks/admin/cdc/afsc/menu.html.twig" %}
    <div class="page-header">
        <h3>
            <span class="text-muted">AFSC Users</span> - {{ afsc.name }}
        </h3>
    </div>
    {% include "blocks/admin/users/list-common.html.twig" with {'show_bases': true, 'show_extra': false} %}
{% endblock %}