{% extends "layout.html.twig" %}
{% set page_title = "Sign In" %}
{% block main %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Sign in</h4>
                </div>
                <div class="panel-body">
                    <form action="/auth/login" method="POST" id="sign-in-form">
                        <div class="form-group">
                            <label for="username">Username / E-mail</label>
                            <input type="text"
                                   id="username"
                                   name="username"
                                   class="form-control"
                                   autocomplete="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password"
                                   id="password"
                                   name="password"
                                   class="form-control"
                                   autocomplete="current-password">
                        </div>
                        <div class="text-center">
                            <button type="button"
                                    onclick="disable_submit(this)"
                                    class="btn btn-default ld-ext-right hovering">
                                Sign In
                                <div class="ld ld-ring ld-spin"></div>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="help-block text-center">
                        <a href="/auth/reset">Forgot Password</a> |
                        <a href="/auth/activate/resend">Resend Activation Code</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}