{% extends "layout.html.twig" %}
{% set page_title = "Reset Password" %}
{% block main %}
    <div class="page-header">
        <h3>Reset Password</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/auth/reset/{{ code }}"
                  method="POST">
                <div class="well well-lg">
                    <fieldset>
                        <div class="form-group">
                            <label for="password">
                                New Password
                            </label>
                            <input class="form-control"
                                   type="password"
                                   name="password"
                                   id="password"
                                   autocomplete="current-password"
                                   placeholder="Enter password...">
                            <div class="help-block">
                                Your password must be at least eight characters long and contain one character from each
                                of the following groups:
                                <ul>
                                    <li>
                                        &grave; ~ ! @ # $ % ^ &amp; * ( ) - = _ + , . / &lt; &gt; ? ; &apos; : &quot; [
                                        ] { } |
                                    </li>
                                    <li>A-Z</li>
                                    <li>a-z</li>
                                    <li>0-9</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password-confirm">
                                Password Confirmation
                            </label>
                            <input class="form-control"
                                   type="password"
                                   name="password_confirm"
                                   id="password-confirm"
                                   autocomplete="new-password"
                                   placeholder="Re-enter password...">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">Reset Password</button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
