{% extends "layout.html.twig" %}
{% set page_title = "Reset Password" %}
{% block main %}
    <div class="page-header">
        <h3>Reset Password</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/auth/reset"
                  method="POST">
                <div class="well well-lg">
                    <fieldset>
                        <div class="form-group">
                            <div class="alert alert-danger">
                                E-mails to addresses ending in <strong>.mil</strong> are having issues being delivered.
                                If you need a password reset for one of these addresses, please
                                <a href="/contact" style="text-decoration: underline">
                                    click here to open a ticket
                                </a>.
                            </div>
                            <label for="email">E-mail Address</label>
                            <input class="form-control"
                                   name="email"
                                   id="email">
                            <div class="help-block">
                                Enter the e-mail address used during registration. A one-time password reset link will
                                be sent to the provided address.
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">Reset Password</button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
