<ul class="nav nav-pills">
    <li><a href="/admin/cdc/afsc">AFSC List</a></li>
    <li><a href="/admin/cdc/afsc/migrate">Migrate Associations</a></li>
    {% if afsc %}
        <li><a href="/admin/cdc/afsc/{{ afsc.uuid }}/edit">Edit</a></li>
        <li><a href="/admin/cdc/afsc/{{ afsc.uuid }}/questions">Manage Questions</a></li>
        {% if afsc.hidden %}
            <li class="bg-success"><a href="/admin/cdc/afsc/{{ afsc.uuid }}/restore">Restore</a></li>
        {% else %}
            <li class="bg-danger"><a href="/admin/cdc/afsc/{{ afsc.uuid }}/disable">Disable</a></li>
        {% endif %}
    {% endif %}
</ul>
<div class="clearfix">&nbsp;</div>