<div class="list-group">
    <a href="/admin/cdc/afsc/{{ afsc.uuid }}/questions/{{ question.uuid }}/edit"
       class="list-group-item">
        Edit Question
    </a>
    <a href="/admin/cdc/afsc/{{ afsc.uuid }}/questions/{{ question.uuid }}/disable"
       class="list-group-item">
        Disable Question
    </a>
</div>