{% extends "layout.html.twig" %}
{% set page_title = "Manage AFSC Associations - #{user.name}" %}
{% block main %}
    {% include "blocks/training/menu.html.twig" %}
    <div class="page-header">
        <h3>
            <span class="text-muted">AFSC Associations</span> - {{ user.name }}
        </h3>
    </div>
    {% include "blocks/users/afsc-assocs-shared.html.twig" with {'url_prefix': '/training/users/' ~ user.uuid, 'restricted': false} %}
{% endblock %}
