{
  "archive": {
    "cutoff": "-6 months",
    "xml": {
      "directory": "/home/vhosts/cdcmastery.com/xml-archive"
    }
  },
  "database": {
    "dev": {
      "host": "127.0.0.1",
      "port": 3306,
      "socket": "unix:/var/run/mysqld/mysqld.sock",
      "schema": "",
      "username": "",
      "password": ""
    },
    "prod": {
      "host": "127.0.0.1",
      "port": 3306,
      "socket": "unix:/var/run/mysqld/mysqld.sock",
      "schema": "",
      "username": "",
      "password": ""
    }
  },
  "email": {
    "host": "",
    "port": 465,
    "username": "",
    "password": ""
  },
  "encryption": {
    "key": ""
  },
  "support": {
    "facebook": {
      "url": "https://www.facebook.com/CDCMastery",
      "display": "facebook.com/CDCMastery"
    }
  },
  "system": {
    "auth": {
      "email": {
        "require_mil": true
      }
    },
    "debug": true,
    "log": {
      "debug": "/home/vhosts/cdcmastery.com/logs/cdcmastery.debug.log",
      "general": "/home/vhosts/cdcmastery.com/logs/cdcmastery.log"
    },
    "maintenance": false,
    "memcached": [
      {
        "host": "127.0.0.1",
        "port": 11211
      }
    ],
    "routing": {
      "public": [
        "/",
        "/about/disclaimer",
        "/about/privacy",
        "/about/terms",
        "/auth/activate",
        "/auth/activate/resend",
        "/auth/login",
        "/auth/logout",
        "/auth/register",
        "/auth/reset",
        "/errors/400",
        "/errors/401",
        "/errors/403",
        "/errors/404",
        "/errors/500",
        "/errors/maintenance",
        "/errors/offline"
      ],
      "public_prefix": [
        "/stats",
        "/auth/activate",
        "/auth/register",
        "/auth/reset"
      ]
    },
    "time_zone": "America/New_York",
    "uuid": "9a077b53-e430-4c44-83ba-a66e3ecca117"
  },
  "testing": {
    "passingScore": 80,
    "numQuestions": 100,
    "maxIncomplete": 5,
    "maxQuestions": 500
  },
  "twig": {
    "assets": {
      "css": [
        "/assets/css/bootstrap-cdcmastery.css",
        "/assets/css/base.css",
        "/assets/css/cards.css",
        "/assets/css/forms.css",
        "/assets/css/home.css",
        "/assets/css/tests.css",
        "/assets/css/training.css",
        "/assets/css/admin/cdc.css",
        "/assets/css/admin/users.css",
        "/assets/css/admin/tests.css"
      ],
      "js": [
        "/assets/js/jquery-3.2.1.js",
        "/assets/js/bootstrap.js",
        "/assets/js/canvasjs.min.js",
        "/assets/js/jquery.touchSwipe.min.js"
      ]
    }
  }
}
