{
  "archive": {
    "cutoff": "-1 year",
    "xml": {
      "directory": "/home/vhosts/cdcmastery.com/xml-archive"
    }
  },
  "cards": {
    "retention": {
      "empty": "-6 months",
      "populated": "-2 years"
    }
  },
  "database": {
    "dev": {
      "host": "127.0.0.1",
      "port": 3306,
      "socket": "unix:/var/run/mysqld/mysqld.sock",
      "schema": "",
      "username": "",
      "password": ""
    },
    "prod": {
      "host": "127.0.0.1",
      "port": 3306,
      "socket": "unix:/var/run/mysqld/mysqld.sock",
      "schema": "",
      "username": "",
      "password": ""
    }
  },
  "email": {
    "host": "",
    "port": 465,
    "username": "",
    "password": ""
  },
  "encryption": {
    "key": ""
  },
  "support": {
    "facebook": {
      "url": "https://www.facebook.com/CDCMastery",
      "display": "facebook.com/CDCMastery"
    }
  },
  "system": {
    "auth": {
      "email": {
        "require_mil": true
      },
      "recaptcha": {
        "key": "",
        "secret": ""
      }
    },
    "debug": true,
    "log": {
      "debug": "/home/vhosts/cdcmastery.com/logs/cdcmastery.debug.log",
      "general": "/home/vhosts/cdcmastery.com/logs/cdcmastery.log",
      "slack": {
        "webhook": {
          "url": "",
          "channel": "",
          "username": ""
        }
      }
    },
    "maintenance": false,
    "memcached": [
      {
        "socket": "/home/vhosts/cdcmastery.com/sockets/memcached.sock"
      }
    ],
    "memcached_sessions": [
      {
        "socket": "/home/vhosts/cdcmastery.com/sockets/memcached-sessions.sock"
      }
    ],
    "routing": {
      "public": [
        "/",
        "/about",
        "/about/disclaimer",
        "/about/privacy",
        "/about/terms",
        "/auth/activate",
        "/auth/activate/resend",
        "/auth/login",
        "/auth/logout",
        "/auth/register",
        "/auth/reset",
        "/contact",
        "/errors/400",
        "/errors/401",
        "/errors/403",
        "/errors/404",
        "/errors/500",
        "/errors/maintenance",
        "/errors/offline"
      ],
      "public_prefix": [
        "/stats",
        "/auth/activate",
        "/auth/register",
        "/auth/reset"
      ]
    },
    "time_zone": "America/New_York",
    "uuid": "9a077b53-e430-4c44-83ba-a66e3ecca117"
  },
  "testing": {
    "passingScore": 80,
    "numQuestions": 100,
    "maxCategories": 10,
    "maxIncomplete": 5,
    "maxQuestions": 500,
    "minQuestionsNormal": 100,
    "minQuestionsPractice": 25,
    "incomplete": {
      "max_age": "-30 days"
    }
  },
  "twig": {
    "assets": {
      "css": [
        "/assets/css/bootstrap-cdcmastery.css",
        "/assets/css/ldbtn.min.css",
        "/assets/css/loading.min.css",
        "/assets/css/featherlight.min.css",
        "/assets/css/base.css",
        "/assets/css/typeahead.css",
        "/assets/css/cards.css",
        "/assets/css/forms.css",
        "/assets/css/home.css",
        "/assets/css/tests.css",
        "/assets/css/training.css",
        "/assets/css/admin/cdc.css",
        "/assets/css/admin/users.css",
        "/assets/css/admin/tests.css"
      ],
      "js": [
        "/assets/js/jquery-3.2.1.min.js",
        "/assets/js/bootstrap.min.js",
        "/assets/js/canvasjs.min.js",
        "/assets/js/jquery.touchSwipe.min.js",
        "/assets/js/bloodhound.min.js",
        "/assets/js/typeahead.jquery.min.js",
        "/assets/js/featherlight.min.js"
      ]
    }
  }
}
