{% extends "layout.html.twig" %}
{% block main %}
    <div class="row">
        <div class="col-xs-12 col-md-3">
            stuff
        </div>
        <div class="col-xs-12 col-md-9">
            other stuff
        </div>
    </div>
{% endblock %}