
#question-edit-block .row {
    display: flex;
}

#question-edit-block .row > .col-md-1 {
    display: flex;
    align-items: center;
}

#question-edit-block .row > .col-md-1 > input[type="radio"] {
    width: 100%;
}

.qdataCorrectAnswer {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.qdataCorrectAnswer input {
    width: 100%;
}