{% extends "layout.html.twig" %}
{% set page_title = "Manage Subordinates" %}
{% block main %}
    {% include "blocks/training/menu.html.twig" %}
    <div class="page-header">
        <h3>
            Manage Subordinates
        </h3>
    </div>
    {% include "blocks/users/sub-assocs-shared.html.twig" with {'url_prefix': '/training'} %}
{% endblock %}