{% extends "public/stats/stats.html.twig" %}
{% block graphs %}
    <div class="text-center">
        <h3>{{ title }}</h3>
        <h4>{{ subTitle }}</h4>
    </div>
    <div id="graph-cont" style="height:400px">
        &nbsp;
    </div>
    <script type="text/javascript">
        window.onload = function () {
            var usersChart = new CanvasJS.Chart("graph-cont",
                {
                    zoomEnabled: true,
                    animationEnabled: true,
                    axisX: {
                        valueFormatString: null,
                        labelFormatter: function () {return '';},
                        tickLength: 0
                    },
                    axisY: {
                        interlacedColor: "#F5F5F5",
                        gridColor: "#D7D7D7",
                        tickColor: "#D7D7D7",
                        tickLength: 0
                    },
                    axisY2: {
                        tickLength: 0,
                        title: "Tests Taken"
                    },
                    theme: "theme2",
                    toolTip: {
                        content: "<em>{label}</em><br>{name}: <strong>{y}</strong>"
                    },
                    data: [
                        {
                            type: "column",
                            lineThickness: 2,
                            axisYType: "primary",
                            name: "User Count",
                            dataPoints: {{ counts|raw }}
                        }
                    ]
                });

            usersChart.render();
        }
    </script>
{% endblock %}