{% extends "layout.html.twig" %}
{% set page_title = "Contact Us" %}
{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h3>Contact Us</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm text-justify">
                        <p>
                            If you have a support request that cannot be handled by your Training Manager or Supervisor,
                            please e-mail me using the address below. Please note that I no longer actively maintain
                            this service, but will assist as time permits.
                        </p>
                        <p>
                            For technical site issues, such as error messages or broken pages, please report the issue
                            using GitHub.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="list-group text-center">
                        <div class="list-group-item">
                            <a href="https://github.com/meinemitternacht/cdcmastery/issues"
                               alt="CDCMastery Project Issues: GitHub">
                                <span class="glyphicon glyphicon-link"></span>
                                github.com/meinemitternacht/cdcmastery/issues
                            </a>
                        </div>
                        <div class="list-group-item">
                            <span class="glyphicon glyphicon-envelope"></span> support -AT- cdcmastery.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
