{% extends "layout.html.twig" %}
{% set page_title = "Terms of Use" %}
{% block main %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="page-header">
                <h3>Terms of Use</h3>
            </div>
            <p>
                These terms of use outline the way you can use the information contained in CDCMastery. This is not an
                exhaustive list and may be updated at any time. For more information, contact us at
                <a href="mailto:support@cdcmastery.com">support@cdcmastery.com</a>.
            </p>
            <h4>Career Development Course Data</h4>
            <p>
                All Career Development Course information, including but not limited to, questions, answers and version
                information is property of the United States Air Force. Access to this information is limited to
                current USAF enlisted, officer and civilian employees who have authorization to view CDC materials
                related to their career field.
            </p>
            <p>
                This information is a work of the United States Air Force and is reprinted here under the Fair Use
                clause of United States Copyright law:
            </p>
            <blockquote>
                <p>
                    Notwithstanding the provisions of sections 106 and 106A, the fair use of a copyrighted work,
                    including such use by reproduction in copies or phonorecords or by any other means specified by that
                    section, for purposes such as criticism, comment, news reporting, teaching (including multiple
                    copies for classroom use), scholarship, or research, is not an infringement of copyright. In
                    determining whether the use made of a work in any particular case is a fair use the factors to be
                    considered shall include-
                </p>
                <ul class="list-unstyled">
                    <li>
                        (1) the purpose and character of the use, including whether such use is of a commercial nature
                        or is for nonprofit educational purposes;
                    </li>
                    <li>
                        (2) the nature of the copyrighted work;
                    </li>
                    <li>
                        (3) the amount and substantiality of the portion used in relation to the copyrighted work as a
                        whole; and
                    </li>
                    <li>
                        (4) the effect of the use upon the potential market for or value of the copyrighted work.
                    </li>
                </ul>
                <p>
                    The fact that a work is unpublished shall not itself bar a finding of fair use if such finding is
                    made upon consideration of all the above factors.
                </p>
                (<a href="http://www.law.cornell.edu/uscode/text/17/107">http://www.law.cornell.edu/uscode/text/17/107</a>)
            </blockquote>
            <br>
            <br>
            <h4>You may:</h4>
            <p>
            <ul>
                <li>Access this information for legal, legitmate purposes</li>
                <li>Use this information to study for an EOC or promotion test</li>
            </ul>
            <br>
            <h4>You may not:</h4>
            <p>
            <ul>
                <li>
                    Access this information for any purpose other than lawful reasons
                </li>
                <li>
                    Copy question and answer data without prior consent of CDCMastery
                </li>
                <li>
                    Attempt to circumvent security measures placed on the site to control restricted information or user
                    data
                </li>
                <li>
                    Use any account other than your own to log in to CDCMastery
                </li>
            </ul>
            <p>
                <strong>
                    Any violation of the above terms of use will result in <em>immediate suspension of your account</em>
                    and prosecution to the fullest extent permissible by law.
                </strong>
            </p>
        </div>
    </div>
{% endblock %}
