<div class="page-header">
    <h3><span class="text-muted">Manage Card</span> - {{ cat.name }}</h3>
</div>
<div class="row">
    <div class="col-xs-12 col-md-9">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Card Front</h5>
                </div>
                <div class="panel-body">
                    {{ card.front|nl2br }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h5>Card Back</h5>
                </div>
                <div class="panel-body">
                    {{ card.back|nl2br }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        {% include "blocks" ~ url_prefix ~ "/cards/card-menu.html.twig" %}
    </div>
</div>