{% extends "layout.html.twig" %}
{% set page_title = user.name %}
{% block main %}
    {% include "blocks/training/menu.html.twig" %}
    <div class="page-header">
        <h3>
            {{ user.name }}
            {% if user.isDisabled %}
                <span class="badge badge-danger" title="This user is currently disabled">DISABLED</span>
            {% endif %}
        </h3>
    </div>
    {% include "blocks/users/profile-shared.html.twig" with {'restricted': true, 'overview': true} %}
{% endblock %}
