{% extends "layout.html.twig" %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="error-code">405</div>
                <div class="clearfix">&nbsp;</div>
                <h1>Method not Allowed</h1>
                <h4>Sorry, the page you requested cannot be accessed using that HTTP method.</h4>
            </div>
        </div>
    </div>
{% endblock %}