{% extends "template/layout/layout.html.twig" %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="error-code">500</div>
            <div class="clearfix">&nbsp;</div>
            <h1>We made an oops</h1>
            <h4>Sorry, we had an issue processing your request.</h4>
        </div>
    </div>
</div>
{% endblock %}