{% extends "template/layout/layout.html.twig" %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="error-code">BRB</div>
            <div class="clearfix">&nbsp;</div>
            <h1>Site undergoing maintenance</h1>
            <h4>We promise to be back as soon as possible!</h4>
        </div>
    </div>
</div>
{% endblock %}