{% extends "layout.html.twig" %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="error-code">IDK</div>
            <div class="clearfix">&nbsp;</div>
            <h1>Site offline</h1>
            <h4>He's dead, Jim.</h4>
        </div>
    </div>
</div>
{% endblock %}