{% extends "layout.html.twig" %}
{% block main %}
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <h3>Welcome to CDCMastery!</h3>
            <h5>Helping you get on the right track for your career.</h5>
            CDCMastery is a study tool developed to help you succeed on assessments of your career knowledge. It's free
            to use, and we're always here when you need us. Click here to see if your AFSC is in our database. If it's
            not, contact us about adding your Career Development Course information.
            <br>
            <strong>Register now to join over 9,962 others who are taking advantage of this comprehensive tool!</strong>
        </div>
        <div class="col-xs-12 col-md-3">

        </div>
    </div>
{% endblock %}