{% extends "layout.html.twig" %}
{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron front-tracks">
                <h1>Get on the right track for your career</h1>
                <p style="text-align: justify">
                    CDCMastery is an application developed to help you succeed on assessments of your career knowledge.
                    It's
                    free to use, and we're always here when you need us. Register now to join over 10,000 others who are
                    taking advantage of this comprehensive tool!
                </p>
                <p><a class="btn btn-primary btn-lg" href="/auth/register" role="button">Register &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Sign in</h4>
                </div>
                <div class="panel-body">
                    <form action="/auth/login" method="POST">
                        <div class="form-group">
                            <label for="username">Username / E-mail</label>
                            <input type="text" id="username" name="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-default">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <h4>Last Seven Days</h4>
                </div>
                <div class="panel-body">
                    <div id="last-seven-avg-count" style="height:218px">
                        {% if lastSevenStats.avg|length > 0 %}
                        &nbsp;
                        {% else %}
                            <div class="text-center">
                                <strong>No Data</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <h4>All-Time</h4>
                </div>
                <div class="panel-body">
                    <div id="year-avg-count" style="height:218px">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            {% if lastSevenStats.avg|length > 0 %}
            var lastSevenChart = new CanvasJS.Chart("last-seven-avg-count",
                {
                    zoomEnabled: false,
                    animationEnabled: true,
                    axisX: {
                        valueFormatString: " ",
                        tickLength: 0
                    },
                    axisY: {
                        interlacedColor: "#F5F5F5",
                        gridColor: "#D7D7D7",
                        tickColor: "#D7D7D7",
                        tickLength: 0
                    },
                    theme: "theme2",
                    toolTip: {
                        shared: true
                    },
                    data: [
                        {
                            type: "column",
                            lineThickness: 3,
                            axisYType: "primary",
                            name: "Average Score",
                            dataPoints: {{ lastSevenStats.avg|raw }}
                        },
                        {
                            type: "column",
                            lineThickness: 3,
                            name: "Tests Taken",
                            axisYType: "primary",
                            dataPoints: {{ lastSevenStats.count|raw }}
                        }
                    ],
                    legend: {
                        verticalAlign: "bottom",
                        horizontalAlign: "center",
                        fontSize: 15,
                        fontFamily: "Lucida Sans Unicode",
                        cursor: "pointer",
                        itemclick: function (e) {
                            if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                                e.dataSeries.visible = false;
                            }
                            else {
                                e.dataSeries.visible = true;
                            }
                            lastSevenChart.render();
                        }
                    }
                });

            lastSevenChart.render();
            {% endif %}

            var yearChart = new CanvasJS.Chart("year-avg-count",
                {
                    zoomEnabled: false,
                    animationEnabled: true,
                    axisX: {
                        valueFormatString: " ",
                        tickLength: 0
                    },
                    axisY: {
                        interlacedColor: "#F5F5F5",
                        gridColor: "#D7D7D7",
                        tickColor: "#D7D7D7",
                        tickLength: 0
                    },
                    theme: "theme2",
                    toolTip: {
                        shared: true
                    },
                    data: [
                        {
                            type: "column",
                            lineThickness: 3,
                            name: "Tests Taken",
                            axisYType: "primary",
                            dataPoints: {{ yearStats.count|raw }}
                        },
                        {
                            type: "line",
                            lineThickness: 3,
                            axisYType: "secondary",
                            name: "Average Score",
                            dataPoints: {{ yearStats.avg|raw }}
                        }
                    ],
                    legend: {
                        verticalAlign: "bottom",
                        horizontalAlign: "center",
                        fontSize: 15,
                        fontFamily: "Lucida Sans Unicode",
                        cursor: "pointer",
                        itemclick: function (e) {
                            if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                                e.dataSeries.visible = false;
                            }
                            else {
                                e.dataSeries.visible = true;
                            }
                            yearChart.render();
                        }
                    }
                });

            yearChart.render();
        }
    </script>
{% endblock %}