div.main-container {
    margin-top: 5.25em;
}

.panel-min-250 {
    min-height: 250px;
}

.footer {
    margin-top: 10em;
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #000000;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.row-spacer {
    margin-top: 2rem;
}