div.main-container {
    margin-top: 5.25em;
}

.panel-min-250 {
    min-height: 250px;
}

.footer {
    margin-top: 10em;
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #000000;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.row-spacer {
    margin-top: 2rem;
}

.badge-sm {
    font-size: 72%;
}

.badge-default {
    background-color: #777;
}

.badge-default[href]:hover,
.badge-default[href]:focus {
    background-color: #5e5e5e;
}

.badge-primary {
    background-color: #337ab7;
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
    background-color: #286090;
}

.badge-success {
    background-color: #5cb85c;
}

.badge-success[href]:hover,
.badge-success[href]:focus {
    background-color: #449d44;
}

.badge-info {
    background-color: #5bc0de;
}

.badge-info[href]:hover,
.badge-info[href]:focus {
    background-color: #31b0d5;
}

.badge-warning {
    background-color: #f0ad4e;
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
    background-color: #ec971f;
}

.badge-danger {
    background-color: #d9534f;
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
    background-color: #c9302c;
}