div.main-container {
    margin-top: 5.25em;
}

.error-code {
    font-size: 16em;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

.cur-assocs-list {
    max-height: 48em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.panel-min-150 {
    min-height: 150px;
}

.panel-min-200 {
    min-height: 200px;
}

.panel-min-250 {
    min-height: 250px;
}

.footer {
    margin-top: 10em;
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #000000;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.row-spacer-sm {
    margin-top: 0.8rem;
}

.row-spacer {
    margin-top: 2rem;
}

.rotate-45 {
    transform: rotate(45deg);
}

.disabled-grayscale {
    filter: grayscale(1);
}

.cdc-pagination li.disabled > a {
    color: #3e3f3a;
}

.badge-sm {
    font-size: 72%;
}

.badge-default {
    background-color: #777;
}

.badge-default[href]:hover,
.badge-default[href]:focus {
    background-color: #5e5e5e;
}

.badge-primary {
    background-color: #337ab7;
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
    background-color: #286090;
}

.badge-success {
    background-color: #5cb85c;
}

.badge-success[href]:hover,
.badge-success[href]:focus {
    background-color: #449d44;
}

.badge-info {
    background-color: #5bc0de;
}

.badge-info[href]:hover,
.badge-info[href]:focus {
    background-color: #31b0d5;
}

.badge-warning {
    background-color: #f0ad4e;
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
    background-color: #ec971f;
}

.badge-danger {
    background-color: #d9534f;
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
    background-color: #c9302c;
}

.navbar-sub {
    min-height: 0;
}

.navbar-sub .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-sub {
    background-color: #e8e8de;
    border-color: #c9ccc7;
}

.navbar-sub .navbar-brand {
    color: #262626;
}

.navbar-sub .navbar-brand:hover,
.navbar-sub .navbar-brand:focus {
    color: #4b4b4b;
    background-color: transparent;
}

.navbar-sub .navbar-text {
    color: #8e8c84;
}

.navbar-sub .navbar-nav > li > a {
    color: #616161;
}

.navbar-sub .navbar-nav > li > a:hover,
.navbar-sub .navbar-nav > li > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-sub .navbar-nav > .active > a,
.navbar-sub .navbar-nav > .active > a:hover,
.navbar-sub .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #979a89;
}

.navbar-sub .navbar-nav > .disabled > a,
.navbar-sub .navbar-nav > .disabled > a:hover,
.navbar-sub .navbar-nav > .disabled > a:focus {
    color: #4b4b4b;
    background-color: transparent;
}

.navbar-sub .navbar-toggle {
    border-color: transparent;
}

.navbar-sub .navbar-toggle:hover,
.navbar-sub .navbar-toggle:focus {
    background-color: #393a35;
}

.navbar-sub .navbar-toggle .icon-bar {
    background-color: #63625a;
}

.navbar-sub .navbar-collapse,
.navbar-sub .navbar-form {
    border-color: #bec1b1;
}

.navbar-sub .navbar-nav > .open > a,
.navbar-sub .navbar-nav > .open > a:hover,
.navbar-sub .navbar-nav > .open > a:focus {
    background-color: #c1c4b3;
    color: #000000;
}

@media (max-width: 767px) {
    .navbar-sub .navbar-nav .open .dropdown-menu > li > a {
        color: #a3a195;
    }

    .navbar-sub .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-sub .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
        background-color: transparent;
    }

    .navbar-sub .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-sub .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-sub .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #bfc2b1;
    }

    .navbar-sub .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-sub .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-sub .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #494949;
        background-color: transparent;
    }
}

.navbar-sub .navbar-link {
    color: #63625a;
}

.navbar-sub .navbar-link:hover {
    color: #000000;
}

.navbar-sub .btn-link {
    color: #63625a;
}

.navbar-sub .btn-link:hover,
.navbar-sub .btn-link:focus {
    color: #000000;
}

.navbar-sub .btn-link[disabled]:hover,
fieldset[disabled] .navbar-sub .btn-link:hover,
.navbar-sub .btn-link[disabled]:focus,
fieldset[disabled] .navbar-sub .btn-link:focus {
    color: #585858;
}

.navbar .divider-vertical {
    height: 42px;
    margin: 0 9px;
    border-right: 1px solid #bbaaaa;
    border-left: 1px solid #e2e2e2
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}