label.new-test-afsc {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
}

.checkbox.new-test-afsc {
    background-color: #a3efc4;
    border-radius: 5px;
    padding-left: 30px;
    margin-top: 0;
}

#question {
    min-height: 3em;
}

.answer {
    cursor: pointer;
}

.answer:hover {
    background-color: #faffa3;
}

.answer.selected {
    background-color: #7cd6f7;
}

#unansweredContainer > .unanswered {
    margin: 5px;
    min-width: 3em;
}

#question-edit-block .row {
    display: flex;
}

#question-edit-block .row > .col-md-1 {
    display: flex;
    align-items: center;
}

#question-edit-block .row > .col-md-1 > input[type="radio"] {
    margin-top: 2rem;
}

textarea.tall {
    height: 14rem !important;
}