label.new-test-afsc {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
}

.checkbox.new-test-afsc {
    background-color: #a3efc4;
    border-radius: 5px;
    padding-left: 30px;
    margin-top: 0;
}

#question {
    min-height: 6em;
}

.answer {
    cursor: pointer;
}

.answer:hover {
    background-color: #faffa3;
}

.answer.selected {
    background-color: #7cd6f7;
}

#unansweredContainer > .unanswered {
    margin: 5px;
}