label.new-test-afsc {
    width: 100%;
    padding: 7px 0 7px 0;
}

.checkbox.new-test-afsc {
    background-color: #a3efc4;
    border-radius: 5px;
    padding-left: 30px;
    margin: 0 0 5px 0;
}

#question {
    min-height: 3em;
}

.answer {
    cursor: pointer;
}

.answer:hover {
    background-color: #faffa3;
}

.answer.selected {
    background-color: #7cd6f7;
}

#unansweredContainer > .unanswered {
    margin: 5px;
    min-width: 3em;
}

textarea.tall {
    height: 14rem !important;
}