<div class="list-group">
    <a class="list-group-item" href="/tests/history">
        Completed Tests
    </a>
    <a class="list-group-item" href="/tests/history/incomplete">
        Incomplete Tests
    </a>
</div>