{% extends "layout.html.twig" %}
{% set page_title = "Manage Training Manager Associations - #{user.name}" %}
{% block main %}
    {% include "blocks/admin/users/menu.html.twig" %}
    <div class="page-header">
        <h3>
            <span class="text-muted">Training Manager Associations</span> - {{ user.name }}
            {% if user.isDisabled %}
                <span class="badge badge-danger" title="This user is currently disabled">DISABLED</span>
            {% endif %}
        </h3>
    </div>
    {% include "blocks/users/tm-assocs-shared.html.twig" with {'url_prefix': '/admin/users/' ~ user.uuid, 'restricted': false} %}
{% endblock %}
