{% extends "layout.html.twig" %}
{% set page_title = "Users" %}
{% block main %}
    {% include "blocks/admin/users/menu.html.twig" %}
    <div class="page-header">
        <h3>
            Manage Users
        </h3>
    </div>
    {% include "blocks/admin/users/list-common.html.twig" with {'show_bases': true, 'show_extra': false} %}
{% endblock %}
