{% extends "layout.html.twig" %}
{% set page_title = "Test History" %}
{% block main %}
    <div class="page-header">
        <h3>Completed Tests</h3>
    </div>
    {% include "blocks/users/tests/history-complete-shared.html.twig" with {'redirect_prefix': '/admin/tests'} %}
{% endblock %}
