{% extends "layout.html.twig" %}
{% set page_title = "My Profile" %}
{% block main %}
    {% include "blocks/profile/menu.html.twig" %}
    <div class="page-header">
        <h3>
            My Profile
        </h3>
    </div>
    {% include "blocks/users/profile-shared.html.twig" with {'restricted': true} %}
{% endblock %}