<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page_title is defined %} {{ page_title }} | {% endif %} CDCMastery</title>
    <link href="/assets/css/bundle.min.css?20201009" rel="stylesheet" type="text/css">
</head>
<body onload="window.print()">
<div style="max-width: 100%">
    {% block main %}{% endblock %}
</div>
</body>
</html>
