<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page_title is defined %} {{ page_title }} | {% endif %} CDCMastery</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% for cssPath in css_assets %}
        <link href="{{ cssPath }}?1" rel="stylesheet" type="text/css">
    {% endfor %}
    {% for jsPath in js_assets %}
        <script src="{{ jsPath }}"></script>
    {% endfor %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               href="/"
               title="Learning - Enabled">
                {% if cdc_debug %}
                    <span class="text-danger" title="DEBUG MODE ENABLED">CDCMastery</span>
                {% else %}
                    CDCMastery
                {% endif %}
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li{% if cur_url == "/" %} class="active"{% endif %}><a href="/">Home</a></li>
                <li{% if cur_url starts with "/about" %} class="active"{% endif %}><a href="/about">About</a></li>
                <li{% if cur_url starts with "/stats" %} class="active"{% endif %}><a href="/stats">Statistics</a></li>
                {% if logged_in and not error %}
                    {% if is_admin %}
                        <li class="dropdown{% if cur_url starts with "/admin" %} active{% endif %}">
                            <a href="#"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Admin Panel <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li{% if cur_url starts with "/admin/cdc/afsc" %} class="active"{% endif %}><a
                                            href="/admin/cdc/afsc" title="AFSC Manager">AFSC Manager</a></li>
                                <li{% if cur_url starts with "/admin/cards" %} class="active"{% endif %}><a
                                            href="/admin/cards" title="Flash Cards">Flash Cards</a></li>
                                <li{% if cur_url starts with "/admin/users" %} class="active"{% endif %}><a
                                            href="/admin/users" title="User Manager">User Manager</a></li>
                                <li{% if cur_url starts with "/admin/bases" %} class="active"{% endif %}><a
                                            href="/admin/bases" title="Base Manager">Base Manager</a></li>
                                <li{% if cur_url starts with "/admin/office-symbols" %} class="active"{% endif %}><a
                                            href="/admin/office-symbols" title="Office Symbols">Office Symbols</a></li>
                                <li{% if cur_url starts with "/admin/search" %} class="active"{% endif %}><a
                                            href="/admin/search" title="Search">Search</a></li>
                                <li role="separator" class="divider"></li>
                                <li{% if cur_url starts with "/admin/activations" %} class="active"{% endif %}><a
                                            href="/admin/activations" title="View Unactivated Users">Unactivated
                                        Users</a>
                                <li{% if cur_url starts with "/admin/pending-roles" %} class="active"{% endif %}><a
                                            href="/admin/pending-roles" title="View Role Requests">Pending Role
                                        Requests</a>
                                <li{% if cur_url starts with "/admin/pending-afscs" %} class="active"{% endif %}><a
                                            href="/admin/pending-afscs" title="View Pending AFSC Associations">Pending
                                        AFSC
                                        Associations</a>
                                </li>
                            </ul>
                        </li>
                    {% elseif is_supervisor or is_training_manager %}
                        <li{% if cur_url starts with "/training" %} class="active"{% endif %}><a href="/training">Training
                                Panel</a></li>
                    {% endif %}
                    <li{% if cur_url starts with "/profile" %} class="active"{% endif %}><a href="/profile">My
                            Profile</a></li>
                    <li><a href="/auth/logout">Sign Out</a></li>
                {% elseif not error %}
                    <li><a href="/auth/login">Sign In</a></li>
                    <li><a href="/auth/register">Register</a></li>
                {% endif %}
            </ul>
            {% if logged_in and not error %}
                <p class="navbar-text navbar-right text-center hidden-xs hidden-sm">
                    Signed in as
                    <span class="text-white">{{ cur_user_name }}</span>
                </p>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container main-container" role="main">
    {% include "blocks/messages.html.twig" %}
    {% block main %}{% endblock %}
</div>
<div class="clearfix">&nbsp;</div>
<footer class="footer">
    <div class="container text-center">
        <p class="text-muted">
            &copy; 2020 Bing Technology Services, LLC<br>
            <em>This application is not endorsed by, affiliated with, or an official product of the United States
                Air Force.</em><br>
        </p>
    </div>
</footer>
</body>
</html>